@inherits WebViewPage
@{
    Layout = "";
}
<html ng-app="CMMI.Restaurants">
<head>
    <title></title>
    <base href="~/"/>
    @Styles.Render("~/spa/styles")
</head>
<body>
    <header></header>
    <content>
        <div class="container">
            <div ng-view autoscroll></div>
        </div>
    </content>

    @Scripts.Render("~/spa/libs")
    @Scripts.Render("~/spa/app")
    @Scripts.Render("~/spa/components")
</body>
</html>