<div class="row">
    <div class="col-lg-12">
        <h1>Search for a Restaurants</h1>
        <div class="form-group">
            <div class="input-group">
                <input type="text" placeholder="Search by City" class="form-control"
                       ng-model="restaurantList.city"
                       uib-typeahead="city for city in restaurantList.getCities($viewValue) | limitTo:10"
                       typeahead-editable="false" typeahead-min-length="2" typeahead-on-select="restaurantList.citySelected($item, $model, $label, $event)"
                       typeahead-loading="loading" typeahead-no-results="noResults" />
                <i ng-if="loading" class="input-group-addon glyphicon glyphicon-refresh"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>
            Results
            <button ng-disabled="!restaurantList.$account.$user" class="pull-right btn btn-successs" ng-click="restaurantList.addNewRestaurant()">Submit a Restaurant</button>
        </h2>
        <p ng-if="!restaurantList.restaurants.length">No results found.  Please try another search.</p>
        <table class="table table-striped" ng-if="restaurantList.restaurants.length">
            <thead>
                <tr>
                    <th>Name / Rating</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="group in restaurantList.restaurants">
                <td colspan="2"><h4>{{group.City}}</h4></td>
            </tr>
            <tr ng-repeat-end ng-repeat="restaurant in group.Restaurants">
                <td>
                    <a href="restaurant/{{restaurant.Id}}">{{restaurant.Name}}</a>
                    <span class="badge">Rated {{restaurant.Rating | number:2}}/5.00 by {{restaurant.ReviewCount}} users</span>
                </td>
                <td>{{restaurant.City}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>