<h1>
    {{restaurantView.restaurant.name}} <small>{{restaurantView.restaurant.city}}</small>
</h1>
<p class="text-muted">
    <span class="badge">Rated {{restaurantView.restaurant.rating | number:2}}/5.00 by {{restaurantView.restaurant.reviewCount}} users</span>
    Added by {{restaurantView.restaurant.user.username || '[User]'}} on {{restaurantView.restaurant.createDate | date}}.
</p>

<h3>
    Reviews
    <button class="pull-right btn btn-success btn-sm" ng-disabled="restaurantView.restaurant.reviewed || !restaurantView.$account.$user" href ng-click="restaurantView.addNewReview()">Submit a Review</button>
</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped" ng-if="restaurantView.reviews.length">
            <thead>
                <tr>
                    <th>User / Rating</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="review in restaurantView.reviews">
                    <td>{{review.user.username || '[User]'}} <span class="badge">Rated: {{review.rating | number:2}}</span></td>
                    <td>{{review.comment}}</td>
                </tr>
            </tbody>
        </table>
        <p class="text-center text-muted" ng-if="restaurantView.reviews.length == 0">Be the first to review this restaurant.  Submit a review above.</p>
    </div>
</div>
